<h1 class="title is-2 has-text-grey">Editing Reply</h1>

<%= simple_form_for([@discussion, @reply]) do |f| %> <!-- tukaj dobimo discussion id, reply pa se naziva na discussion kateri ima replies in dobimo doloÄeni id -->
<div class="field">
  <div class="control">
    <%= f.input :reply_post, input_html: { class: 'textarea'}, wrapper: false, label_html: { class: 'label' } %>
  </div>
</div>

  <%= f.button :submit, 'Update reply', class:'button is-info' %>
<% end %>