<h1>Editing Discussion</h1>

<%= render 'form' %>

<hr style="width:50%">
<%= link_to 'Show', @discussion, class:'button is-link is-outlined' %>
<%= link_to 'Back', discussions_path, class:'button is-link is-outlined' %>
