<h1>Editing Apartment Building</h1>

<%= render 'form' %>

<hr style="width:50%">

<%= link_to 'Show', @apartment_building, class:'button is-link is-outlined' %>
<%= link_to 'Back', apartment_buildings_path, class:'button is-link is-outlined' %>
