/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bulma";
@import "functions";


body{
    font-family: 'Source Sans Pro', sans-serif;
}

.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.textarea {
  height: 250px;
  font-size: .9rem;
  padding: 1rem;
}

.discussion-title {
  margin-bottom: 0;
}

.wordbreaker{
  word-wrap: break-word;
}
abbr{
  text-decoration:none;
}
.has-border-gray{
  border:1px solid #f8f8f8;
}
.channel_input_width{
  width:30%;
}
.is-float-left{
  float:left;
}
.is-float-right{
  float:right;
}